.name {
    position: absolute;
    bottom: 0;
    font-size: 3rem;
    padding-bottom: 5px;
}

.navi {
}

ul {
    list-style-type: none;
    li {
        display:inline;    
        font-family: 'Hanalei Fill', cursive; 
        margin: 0 10%;
    }
}